PORT=4000

API_KEY=my-secret-api-key

SMTP_USER=agafinapatrick@gmail.com
SMTP_PASS=yfsviszxzlqnfkwr
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

MAX_RECIPIENTS=100

ALLOWED_ORIGIN=*
okinawarhapsody11@gmail.com 